.navbar {
    box-shadow: 2px 2px 5px #000;
}

.main-header {
    position: relative;
    background: url(../img/Imagen02.jpg);
    background-size: cover;
    min-height: 600px;
}

.main-header2 {
    background: url(../img/Imagen01.jpg);
    background-size: cover;
    min-height: 500px;
}

.main-header3 {
    background: url(../img/Imagen03.jpg);
    background-size: cover;    
    min-height: 800px;
}

.main-header4 {
    background: url(../img/Imagen04.jpg);
    background-size: cover;
    min-height: 600px;
}

.main-header5 {
    background: url(../img/Imagen05.jpg);
    background-size: cover;    
    min-height: 600px;
}